<h1 id="visite">Visite</h1>
<div class="form-space">
	{{ form_row(form.protocole.visite.motifs, {'attr': {'class': 'input js-motifs'} }) }}
</div>

{{ form_row(form.protocole.visite.save, {'attr': {'class': 'form-btn'} }) }}
