.flex {
    display: flex;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.flex-row>section {
    flex: 1;
    margin: 0 15px 35px;
}

.flex-row>section h3 {
    margin-bottom: 15px;
}

.btn-bar {
    display: flex;
}

.btn-bar>btn:not(:last-child) {
    margin-right: 25px;
}

.alert {
    width: 100%;
    margin-bottom: 15px;
}

/* 
========================================================================== */

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-form {
    width: 100%;
    padding: 50px 0px 55px 0px;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: var(--persian-indigo);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 50px;
}

.title-wrapper span {
    color: #D63B53;
}

/* User
========================================================================== */

.filter {
    z-index: 1;
    display: flex;
    align-items: center;
    position: absolute;
    height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter p {
    margin-right: 15px;
}

.filter label:not(:last-child) {
    margin-right: 15px;
}

.filter label {
    cursor: pointer;
    margin-bottom: 0;
    user-select: none;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

input[type='checkbox'].checkbox-round {
    display: none;
}

input[type='checkbox'].checkbox-round+span {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -2px;
    border-radius: 8px;
    border: solid 2px;
    background: transparent;
}

.tag {
    background: #000;
    color: #f4f9f7;
    padding: 3px 15px;
    margin: 0 5px;
    border-radius: 20px;
    display: inline;
}

.tag-guest {
    background: var(--dark-goldenrod);
}

.tag-user {
    background: var(--blue-green);
}

.tag-admin {
    background: var(--persian-indigo);
}

.striped {
    background: repeating-linear-gradient( 45deg, #f8f6ff, #f8f6ff 10px, #fff 10px, #fff 20px);
    cursor: not-allowed !important;
}