.flex {
    position: relative;
    display: flex;
    align-items: stretch;
}

.flex-nowrap {
    display: flex;
    flex-flow: row;
    gap: 0 16px;
}

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 0 16px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -16px;
}

.flex-row>section {
    flex: 1;
    margin: 0 16px 35px;
}

.flex-row>section h3 {
    margin-bottom: 16px;
}

.flex-2 {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 0 16px;
}

.flex-2>* {
    width: calc(50% - 8px);
}

.alert {
    width: 100%;
    margin-bottom: 16px;
}

.flex-1 {
    flex: 1;
}

.sub {
    padding-left: 32px;
}

/* 
========================================================================== */

.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.container-form {
    width: 100%;
    padding: 50px 0px 55px 0px;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: var(--persian-indigo);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 50px;
    padding-left: 15px;
}

.title-wrapper span {
    color: #D63B53;
}

.container-form .wrap-input {
    background-color: transparent;
}

/* Tabs
========================================================================== */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

ul.tabbed {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
}

ul.tabbed li {
    z-index: 2;
    display: block;
    text-align: center;
    position: relative;
    padding: 10px 24px 8px;
    background-color: #e6e6e6;
    color: #777;
    cursor: pointer;
    transition: all 250ms ease;
    margin-bottom: 5px;
    user-select: none;
    border-right: 1px solid #cacaca;
}

ul.tabbed li:last-child {
    border-right: none;
}

ul.tabbed li.active {
    z-index: 3;
    background-color: var(--blue-green);
    color: #fff;
}

ul.tabbed li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul.tabbed li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul.tabbed li i {
    margin-right: 10px;
}

/* Patient
========================================================================== */

.main {
    position: relative;
    padding-right: 15px;
    padding-left: calc(30% + 15px);
    transition: ease 0.2s;
    overflow-x: clip;
}

.main.reduce {
    /* overflow-x: hidden; */
    padding-left: calc(55px + 15px);
}

.hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
    padding: 0 16px;
}

.hero-header {
    width: 100%;
    padding: 0 0 30px;
}

.hero-title {
    margin-bottom: 30px;
}

.hero-title .profile {
    display: flex;
    align-items: center;
}

.hero-title .profile__name {
    background-color: var(--dark-goldenrod);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.hero-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide {
    position: relative;
    display: none;
}

.slide h1 {
    position: relative;
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 32px;
}

.slide h1::before {
    content: "";
    position: absolute;
    border: 0;
    height: 5px;
    background-color: var(--dark-goldenrod);
    width: 66px;
    bottom: -5px;
}

.slide.active {
    display: block;
}

.hero-tabs h3, .slide h3, main h3 {
    position: relative;
    display: inline-block;
    opacity: 0.6;
    margin-bottom: 10px;
}

.hero-tabs h5, .slide h5 {
    position: relative;
    width: fit-content;
    font-size: 18px;
    margin: 10px 0;
}

.hero-tabs h5::after, .slide h5::after {
    content: "";
    position: absolute;
    border: 0;
    height: 8px;
    background-color: #27006775;
    width: 35px;
    bottom: 0px;
    left: -2px;
}

.form-space {
    margin-bottom: 16px;
}

.margin-space {
    margin-bottom: 16px;
}

.separator-space {
    width: 50px;
    height: 1px;
    margin: 5px 0 16px 0;
    background-color: var(--blue-green);
}

.separator-space {
    width: 50px;
    height: 1px;
    margin: 5px 0 16px 0;
    background-color: var(--persian-indigo);
}

.hero-tabs-container {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 10;
}

.hero-tabs-container--top {
    position: fixed;
    top: 0;
    width: calc(100% - 80px);
}

.hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    padding: 0 5px;
}

.hero-tab:hover {
    color: white;
    background: rgb(59, 189, 166, 0.8);
    transition: all 0.5s ease;
}

.hero-tab, .hero-tab:visited, .hero-tab:focus {
    text-decoration: none;
}

.hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: var(--blue-green);
    transition: left 0.3s ease;
}

.hero-text {
    /* position: absolute;
    color: #f4f9f7; */
}

.container-form-btn {
    margin-top: 30px;
}

.flex-table {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    word-break: break-all
}

.col-flex-1 {
    flex: 15%;
}

.col-flex-2 {
    flex: 18%;
}

.col-flex-3 {
    flex: 45%;
}

.no-label~label em {
    display: none;
}

.no-label label em {
    display: none;
}

.history {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    background-color: #E6E6E6;
    border-left: 1px solid var(--blue-green);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.history-icon {
    z-index: 0;
    height: 100%;
    background: url(../assets/images/history.svg) center no-repeat;
    background-size: 48%;
    width: 42px;
    transition: cubic-bezier(1, 0, 0, 1) 0.2s;
}

.history-icon:hover {
    filter: invert(43%) sepia(86%) saturate(441%) hue-rotate(147deg) brightness(96%) contrast(84%);
}

.etiquettes__list, .medicaments__list {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.etiquette, .medicament {
    width: fit-content;
    color: #f4f9f7;
    padding: 3px 15px;
    display: inline;
    padding: 5px 8px;
    border-radius: 0;
    background-color: var(--blue-green);
}

.etiquettes__list .etiquette:first-child, .medicaments__list .medicament:first-child {
    margin-left: 0;
}

.medicaments__list .medicament {
    margin: 5px 0;
}

.etiquette .delete, .medicament .delete {
    cursor: pointer;
    float: right;
    padding-left: 10px;
    transition: 0.3s ease;
}

.etiquette .delete:hover, .medicament .delete:hover {
    color: var(--blue-green-active);
}

.def {
    padding: 5px;
    border-left: 2px solid var(--blue-green);
}

.alimentation {
    margin-bottom: 16px;
}

.alimentation span {
    font-weight: bold;
    padding: 5px 10px;
    border-left: 2px #333 solid;
}

.alimentation span.green {
    border-color: #55D6BE;
    color: #55D6BE;
}

.alimentation span.orange {
    border-color: orange;
    color: orange;
}

.alimentation span.red {
    border-color: #D63B53;
    color: #D63B53;
}

/* User
========================================================================== */

.filter {
    z-index: 1;
    display: flex;
    align-items: center;
    position: absolute;
    height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter p {
    margin-right: 15px;
}

.filter label:not(:last-child) {
    margin-right: 15px;
}

.filter label {
    cursor: pointer;
    margin-bottom: 0;
    user-select: none;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

input[type='checkbox'].checkbox-round {
    display: none;
}

input[type='checkbox'].checkbox-round+span {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -2px;
    border-radius: 8px;
    border: solid 2px;
    background: transparent;
}

.tag {
    background: #000;
    color: #f4f9f7;
    padding: 3px 15px;
    margin: 0 5px;
    border-radius: 20px;
    display: inline;
}

.tag-guest {
    background: var(--dark-goldenrod);
}

.tag-user {
    background: var(--blue-green);
}

.tag-admin {
    background: var(--persian-indigo);
}

.striped {
    background: repeating-linear-gradient(45deg, #f8f6ff, #f8f6ff 10px, #fff 10px, #fff 20px);
    cursor: not-allowed !important;
}

.table-container {
    margin: 0 -10px;
}

.table-custom {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.table-custom .wrap-input, .table-custom label {
    margin-bottom: 0px;
}

.table-custom>tbody>tr>td.row-header {
    vertical-align: middle;
    padding-right: 10px;
}

.table-custom thead tr>th {
    padding: 0 10px 16px;
    border-left: 1px solid var(--persian-indigo);
    word-break: break-word;
}

.table-custom thead tr>th:empty {
    border: none;
}

.table-anatomieCoronaire th,
.table-anatomieCoronaire td {
    width: calc(100% / 7);
    overflow: hidden;
}

.table-scintigraphie th,
.table-scintigraphie td {
    width: calc(100% / 6);
    overflow: hidden;
}


/* QCM
========================================================================== */

.qcm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a";
    grid-gap: 0 16px;
}

.qcm-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--persian-indigo);
    margin-bottom: 16px;
}

@media screen and (max-width: 1400px) {
    .qcm {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "a";
    }
}

.qcm-question {
    flex: 1;
    display: flex;
    align-items: center;
    overflow-y: auto;
    height: 42px;
    font-family: Ubuntu-Bold;
    font-size: 14px;
    margin: 0;
}

.qcm-response {
    display: flex;
}

.qcm-flex.wrap-input {
    margin-bottom: 0;
}

.bmq-response .radio-container {
    flex: 1;
    justify-content: center;
}

.table-custom thead tr>th.bmq-question__header {
    width: 50%;
}

.table-custom thead tr>th.bmq-response__header {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.bmq-response__header>div:not(:last-child) {
    flex: 1;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid var(--persian-indigo);
}

.bmq-response .radio-row {
    padding: 0;
    gap: 0;
}

.bmq-response .radio-container:not(:last-child) {
    border-right: 1px solid var(--dark-goldenrod);
}

/* Letter
========================================================================== */
.letter__content {
    resize: none;
    width: 100%;
    min-height: 500px;
    line-height: 22px;
    padding: 15px 20px;
}

.select-data {
    display: flex;
    margin-bottom: 15px;
}

.select-data button {
    margin-left: 15px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--blue-green-hover);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    text-transform: initial;
}

/* Medicament
========================================================================== */
.btn-space {
    margin: 50px 15px 0;
}

#medicament_name {
    max-width: 400px;
}

/* Echographie
========================================================================== */
.echo {
    position: relative;
    background: url(../assets/images/bullseye_color.png) no-repeat center;
    background-size: 100%;
    height: 650px;
    width: 800px;
    margin: 0 auto;
}

.segment {
    position: absolute;
}

.segment .input {
    text-align: center;
    padding: 0 20px;
    width: 120px;
}

.segment .unity {
    padding-right: 10px;
}

.segment:nth-child(1) {
    top: 74px;
    left: 368px;
}

.segment:nth-child(2) {
    top: 175px;
    left: 162px;
}

.segment:nth-child(3) {
    top: 383px;
    left: 162px;
}

.segment:nth-child(4) {
    top: 480px;
    left: 368px;
}

.segment:nth-child(5) {
    top: 383px;
    left: 575px;
}

.segment:nth-child(6) {
    top: 175px;
    left: 575px;
}

.segment:nth-child(7) {
    top: 148px;
    left: 368px;
}

.segment:nth-child(8) {
    top: 220px;
    left: 230px;
}

.segment:nth-child(9) {
    top: 338px;
    left: 230px;
}

.segment:nth-child(10) {
    top: 408px;
    left: 368px;
}

.segment:nth-child(11) {
    top: 338px;
    left: 506px;
}

.segment:nth-child(12) {
    top: 220px;
    left: 506px;
}

.segment:nth-child(13) {
    top: 220px;
    left: 368px;
}

.segment:nth-child(14) {
    top: 278px;
    left: 286px;
}

.segment:nth-child(15) {
    top: 338px;
    left: 368px;
}

.segment:nth-child(16) {
    top: 278px;
    left: 450px;
}

.segment input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

/* Catheterisation
========================================================================== */
.coronaire {
    position: relative;
    background: url(../assets/images/coronaire.png) no-repeat center;
    background-size: contain;
    height: 420px;
    width: 900px;
    margin-top: 35px;
}

.coronaire>.wrap-input {
    position: absolute;
    width: 170px;
}

.coronaire label {
    margin: 0;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.coronaire>.wrap-input:nth-child(1) {
    top: -15px;
    left: 156px;
}

.coronaire>.wrap-input:nth-child(2) {
    top: 125px;
    left: 90px;
}

.coronaire>.wrap-input:nth-child(3) {
    top: 255px;
    left: 130px;
}

.coronaire>.wrap-input:nth-child(4) {
    top: -15px;
    left: 377px;
}

.coronaire>.wrap-input:nth-child(5) {
    top: 55px;
    left: 546px;
}

.coronaire>.wrap-input:nth-child(6) {
    top: -15px;
    right: 15px;
}

.coronaire>.wrap-input:nth-child(7) {
    top: 125px;
    right: 15px;
}

.coronaire>.wrap-input:nth-child(8) {
    top: 125px;
    left: 377px;
}

.coronaire>.wrap-input:nth-child(9) {
    top: 255px;
    left: 444px;
}

.pont {
    position: relative;
    background: url(../assets/images/pont.png) no-repeat center;
    background-size: contain;
    height: 420px;
    width: 900px;
}

.pont>.wrap-input {
    position: absolute;
    width: 170px;
}

.pont label {
    margin: 0;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.pont>.wrap-input:nth-child(1) {
    top: 125px;
    left: 236px;
}

.pont>.wrap-input:nth-child(2) {
    top: 295px;
    left: 0;
}

.pont>.wrap-input:nth-child(3) {
    top: 85px;
    right: 15px;
}

/* Angioplastie Pontage
========================================================================== */
.schema-tsa {
    position: relative;
    background: url(../assets/images/tsa.png) no-repeat center;
    background-size: contain;
    height: 700px;
    width: 900px;
}

.schema-tsa>.wrap-input {
    position: absolute;
    width: 220px;
}

.schema-tsa .special {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 5px solid var(--dark-goldenrod);
}

.schema-tsa label {
    margin: 0;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.schema-tsa>.wrap-input:nth-child(1) {
    top: 35px;
    left: 130px;
}

.schema-tsa>.wrap-input:nth-child(2) {
    top: 35px;
    right: 130px;
}

.schema-tsa>.wrap-input:nth-child(3) {
    top: 115px;
    left: 20px;
}

.schema-tsa>.wrap-input:nth-child(4) {
    top: 115px;
    right: 20px;
}

.schema-tsa>.wrap-input:nth-child(5) {
    top: 195px;
    left: 70px;
}

.schema-tsa>.wrap-input:nth-child(6) {
    top: 195px;
    right: 70px;
}

.schema-tsa>.wrap-input:nth-child(7) {
    top: 275px;
    left: 140px;
}

.schema-tsa>.wrap-input:nth-child(8) {
    top: 275px;
    right: 140px;
}

.schema-tsa>.wrap-input:nth-child(9) {
    top: 355px;
    left: 70px;
}

.schema-tsa>.wrap-input:nth-child(10) {
    top: 355px;
    right: 70px;
}

.schema-tsa>.wrap-input:nth-child(11) {
    top: 435px;
    left: 220px;
}

.schema-tsa>.wrap-input:nth-child(12) {
    top: 515px;
    left: 70px;
}

.schema-tsa>.wrap-input:nth-child(13) {
    top: 515px;
    right: 70px;
}

.schema-tsa>.wrap-input:nth-child(14) {
    top: 595px;
    left: 220px;
}

.schema-membres-inferieur {
    position: relative;
    background: url(../assets/images/membres_inferieur.jpg) no-repeat center;
    background-size: contain;
    height: 700px;
    width: 900px;
}

.schema-membres-inferieur>.wrap-input {
    position: absolute;
    width: 260px;
}

.schema-membres-inferieur .large {
    width: 166px;
}

.schema-membres-inferieur label {
    margin: 0;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.schema-membres-inferieur>.wrap-input:nth-child(1) {
    top: 0px;
    left: 330px;
}

.schema-membres-inferieur>.wrap-input:nth-child(2) {
    top: 95px;
    left: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(3) {
    top: 95px;
    right: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(4) {
    top: 175px;
    left: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(5) {
    top: 175px;
    right: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(6) {
    top: 275px;
    left: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(7) {
    top: 275px;
    right: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(8) {
    top: 385px;
    left: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(9) {
    top: 385px;
    right: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(10) {
    top: 495px;
    left: 90px;
}

.schema-membres-inferieur>.wrap-input:nth-child(11) {
    top: 495px;
    right: 90px;
}

/* Visite
========================================================================== */
.flex-visite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protocole-choice {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.protocole-choice .feuilles {
    flex: 1;
}

.protocole-menu {
    display: none;
}

.protocole-menu.active {
    display: block;
}

/* ========= SELECT2 ========= */

.select2-container .select2-selection--single {
    height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    padding: 0 5px;
    font-size: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    font-size: 20px;
}

.select2-container--default .select2-selection--multiple {
    min-height: 90px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    resize: none;
    padding-left: 10px;
    padding-top: 7px;
}

.big-drop.select2-dropdown .select2-results>.select2-results__options {
    max-height: 400px;
}

.select2-container--default .select2-results__group {
    background-color: var(--blue-green);
    color: #fff;
    text-transform: capitalize;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 6px;
}

.select2-selection__rendered {
    text-transform: capitalize;
}

/* ========= TOC ========= */

.toc {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.toc--top {
    position: fixed;
    left: 80px;
    top: 0px;
    width: calc(30% - 24px);
}

.toc .sub-menu>ul {
    display: none;
}

.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: width ease;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.reduce .toc {
    width: 55px;
}

.toc ul li a .menu-title>div {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toc ul li a, .toc ul li button {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: var(--blue-green);
    padding: 10px 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.toc>ul>li>a, .toc>ul>li>button {
    height: 42px;
}

.toc ul li button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
}

.toc ul li button i {
    margin-right: 9px;
}

.toc ul li a.active {
    background: var(--blue-green-active);
}

.toc ul li a:hover, .toc ul li button:hover {
    background: var(--blue-green-hover);
}

.toc ul li a .fa {
    width: 30px;
    text-align: center;
}

.toc ul li a .fa-caret-down, .toc ul li a .fa-caret-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reduce .toc ul li a, .reduce .toc ul li {
    justify-content: center;
}

.reduce .toc ul li a .fa-caret-down, .reduce .toc ul li a .fa-caret-up, .reduce .toc ul li a .menu-title>div {
    display: none;
}

.reduce ul li button {
    justify-content: center;
}

.reduce ul li button i {
    margin-right: 0px;
}

.badge-spe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: Ubuntu-Bold;
    border: 2px solid #D74C53;
    background: #D74C53;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    right: 43px;
    top: 12px;
}

.badge-tab {
    position: static;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.badge-tab:last-child {
    margin-right: 0;
}

.badge-completed {
    background-color: var(--blue-green);
    border-color: var(--blue-green);
}

.badge-unfinished {
    background-color: transparent;
    color: #333333;
    border-color: #ccc;
}

.badge-error {
    background-color: #D74C53;
    border-color: #D74C53;
}

.toc ul li ul li a {
    position: relative;
    color: #808080;
    background: #e6e6e6;
    border-left: 4px solid transparent;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.toc ul li ul li a:hover {
    background: #999999cc;
    color: #1a535c;
    border-left: 4px solid var(--blue-green);
}

.menu-title {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reduce .menu-title {
    justify-content: center;
}